body {
  margin: 0;

  p {
    color: var(--color-grey);
  }

  h1 {
    color: var(--color-black);
    font-size: 48px;
    margin: 24px 0;
  }

  h2 {
    color: var(--color-black);
    font-size: 32px;
    margin: 16px 0;
  }

  button {
    all: unset;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    background: white;
    color: var(--color-grey);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 48px;
    height: 48px;
    color: hsl(0, 0%, 38%);
    width: 100%;
    max-width: fit-content;
    padding-inline: 1rem;
    transition: all 0.1s ease-in-out;

    &:not(:disabled):hover {
      transform: translate(0, -2px);
      cursor: pointer;
    }
  }

  input {
    min-height: 38px;
    border: 1px solid var(--color-divider);
    border-radius: 4px;
    font-size: 16px;
    color: var(--color-grey);
    padding-inline: 1rem;

    
    &:not(:focus):not(:placeholder-shown):invalid {
      border-color: var(--color-error);
    }
    
    &.error {
      border-color: var(--color-error);
    }
    &.success {
      border-color: var(--color-success);
    }
  }
}

.swal2-confirm, .swal2-styled {
  all: unset;
  cursor: pointer;
  border: 1px solid var(--color-grey);
  border-radius: 3px;
  background: white;
  color: var(--color-grey);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 48px;
  height: 48px;
  color: hsl(0, 0%, 38%);
  width: 100%;
  max-width: fit-content;
  padding-inline: 1rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: translate(0, -2px);
  }
}

.swal2-popup-show {
  @keyframes bottomFadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  };
  animation: bottomFadeIn 0.25s ease-in;
}

.swal2-popup-continue {
  @keyframes leftFadeIn {
    0% {
      transform: translateX(-10px);
    }
  };
  animation: leftFadeIn 0.25s ease-out;
}

.swal2-popup {
  padding: 1rem;
}

.swal2-close {
  max-width: initial;
}

:root {
  --color-black: #000;
  --color-grey: #606060;
  --color-blue: #2684ff;
  --color-divider: #E0E0E0;
  --color-success: #41aa41;
  --color-error: #f44336;
}
